= image_tag 'pantalla_1/logo_bg.png', class: 'logo_bg img-responsive'

.vcenter
  .row
    .col-xs-12
      .container
        .row
          .col-xs-3.text-right.col_izquierda

            .row.row_nombre_usuario
              .col-xs-12
                %p.nombre_usuario#nombre_usuario_p
                %p.apellido_usuario#apellido_usuario_p
            .row.aux_relative
              .col-xs-12
            .row
              .col-xs-12
                = image_tag 'pantalla_2/adorno_izquierdo.png', class: 'adorno_izquierdo'
            .row.row_texto
              .col-xs-12
                = image_tag 'pantalla_2/texto.png', class: 'img-responsive', id: 'texto_1'
                = image_tag 'pantalla_3/texto_2.png', class: 'img-responsive', id: 'texto_2', style: 'display:none;'
          .col-xs-6.text-center.col_medio

            .row
              .col-xs-12
                .portrait#canvas_video_div
                  #pintura_div{style: 'display:none;'}
                  .frame01#frame_div
                  .pic_frame
                    .ci-main-canvas
                      #canvas_container.ci-canvas-wrapper
                        = image_tag 'pantalla_2/aviso formato.png', class: 'img-responsive aviso', id: 'aviso_formato', style: 'display:none;'
                        = image_tag 'pantalla_2/aviso tamano.png', class: 'img-responsive aviso', id: 'aviso_tamano', style: 'display:none'
                        %video.video#video{:autoplay => "", :height => "360", :width => "360"}
                        %canvas.canvas.ui-widget-content#canvas{:height => "360", :style => "", :width => "360"}
                      #img_canvas_output.ci-canvas-wrapper{style:'display:none'}
                    #img_container{style: 'position:absolute;'}
                %input.zoom-range#zoom-range{:type => "range", style: 'display:none;'}
                .formulario#formulario_div{style: 'display:none'}
                  .row
                    .col-xs-12
                      %h4.title_formulario
                        PARA FINALIZAR INGRESA ESTOS DATOS
                  .row
                    .col-xs-11
                      = form_for :participante, url: registrar_participante_path,  html: {id: 'form_participante', class: 'form-horizontal'} do |f|
                        .form-group
                          = f.label :nombre, class: 'col-xs-4 control-label' do
                            Nombre:
                          .col-xs-8
                            = f.text_field :nombre, readonly: true, class: 'form-control'
                        .form-group
                          = f.label :fecha_nacimiento, class: 'col-xs-4 control-label' do
                            Fecha de Nacimiento:
                          .col-xs-8
                            /= f.date_select :fecha_nacimiento, start_year: 1930, end_year: Date.today.year, order: [:day, :month, :year],  prompt: { day: 'Día', month: 'Mes', year: 'Año' }, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], class: 'form-control'
                            = f.text_field :fecha_nacimiento, class: 'form-control'
                        .form-group
                          = f.label :region, class: 'col-xs-4 control-label' do
                            Región:
                          .col-xs-8
                            = collection_select :region, :region, Region.all, :region_id, :region_nombre, { include_blank: 'Selec. una Región'},
                              data: { dynamic_selectable_url: dynamic_select_provincias_path(':region_id'), dynamic_selectable_target: '#participante_provincia_id' }, class: 'form-control'
                        .form-group
                          = f.label :provincia, class: 'col-xs-4 control-label' do
                            Ciudad:
                          .col-xs-8
                            = f.select :provincia_id, options_from_collection_for_select(Provincia.all, :provincia_id, :provincia_nombre), {:include_blank => 'Selec. una Ciudad'}, class: 'form-control'
                        .form-group
                          = f.label :email, class: 'col-xs-4 control-label' do
                            Email:
                          .col-xs-8
                            = f.text_field :email, readonly: true,  class: 'form-control'
                        .form-group
                          .col-xs-8.col-xs-offset-2.text-center.terminos_condiciones{style: 'font-size:10px; margin-top: -5px; margin-bottom: -10px;'}
                            %p
                              Al presionar enviar estas aceptando nuestros
                              = link_to '/privacy.pdf' do
                                términos y condiciones
                              de uso.
                        .form-group
                          .col-xs-12
                            %button#boton_enviar{type: "submit" , style: 'display:block; margin-left: auto; margin-right: auto;'}
                              = image_tag 'pantalla_4/enviar-on.png', class: 'boton_enviar_img'
                = image_tag 'pantalla_1/adorno_btn_fb.png' , class: 'img-responsive', id: 'm_adorno_form', style: 'display:none;'
              .col-xs-12#html2canvas_col{style: 'display:none'}
                .portrait
                  #html2canvas_output
          = image_tag 'movil/pantalla_2/texto_artemarco.png', class: 'm_texto_artemarco', style: 'display:none', id:'m_texto_artemarco'
          = image_tag 'movil/pantalla_3/texto_foto.png', class: 'm_texto_foto', style: 'display:none', id: 'm_texto_foto'
          .col-xs-3.text-center.col_derecha
            .row.row_subir_imagen#form_div{style: 'display:none'}
              .col-xs-12
                = form_for :upload, url: upload_img_path,  html: { multipart: true }, remote: true do | f |
                  .file_input_div
                    %label.label_file_input{for: 'file-input'}
                      = image_tag 'pantalla_2/subir_imagen.png', class: 'file-input-img subir_imagen'
                      = image_tag 'movil/pantalla_3/m_subir_imagen.png', class: 'file-input-img subir_imagen_m', style: 'display:none'
                    = f.file_field :file_input, id: 'file-input', class: 'file_input'
            .row_cambiar_arte#cambiar_arte_div
              %button#cambiar_marco{"data-target" => ".bs-cuadros-modal-lg", "data-toggle" => "modal", :type => "button"}
                = image_tag 'pantalla_3/cambia_marco.png', class: 'cambiar_marco_img'
                = image_tag 'movil/pantalla_2/m_cambia_marco.png', class: 'cambiar_marco_m', style: 'display:none'
            .row.aux_relative
              .col-xs-12
            .row.row_adorno_derecho
              .col-xs-12
                = image_tag 'pantalla_2/adorno_derecho.png', class: 'adorno_derecho'
            .row_continuar#row_continuar{style:'display:none'}
              %button#boton_continuar{"data-toggle" => "tooltip", "title" => "Continuar"}
                = image_tag 'pantalla_2/continuar.png', class: 'boton_continuar_r'
            .row_compartir#row_compartir{style: 'display:none'}
              %button#boton_compartir{"data-toggle" => "tooltip", "title" => "Compartir en Facebook"}
                = image_tag 'pantalla_3/compartir-on.png', class: 'boton_compartir_r'
              %button#boton_compartir_off{style: 'display:none',disabled: 'disabled',"data-toggle" => "tooltip", "title" => "Debes seleccionar un arte para poder compartir"}
                = image_tag 'pantalla_3/compartir-off.png', class: 'boton_compartir_r'
              %i.fa.fa-circle-o-notch.fa-2x.fa-spin#loading_facebook_share{style: 'display:none'}
            .row.row_encender_camara
              .col-xs-12
                %button#cambiar_arte{"data-target" => ".bs-pinturas-modal-lg", "data-toggle" => "modal", :type => "button"}
                  = image_tag 'pantalla_2/cambia_el_personaje.png', class: 'cambiar_personaje_img'
                  = image_tag 'movil/pantalla_2/m_cambia_arte.png', class: 'cambiar_arte_m', style: 'display:none'
                %button#camara_on{style: 'display:none'}
                  = image_tag 'pantalla_2/encender_camara.png', class: 'img-responsive'
                %button#snap{style: 'display:none'}
                  = image_tag 'pantalla_3/tomar_foto.png', class: 'img-responsive'
                %button#retake.sexyButton{:style => "display:none;"}
                  = image_tag 'pantalla_3/retomar_foto.png', class: 'img-responsive'
.row
  .col-xs-12
    = image_tag 'pantalla_2/navigation_1.png', class: 'navigation', id: 'navigation_1'
    = image_tag 'pantalla_2/navigation_2.png', class: 'navigation', id: 'navigation_2', style: 'display:none'
    = image_tag 'pantalla_2/navigation_3.png', class: 'navigation', id: 'navigation_3', style: 'display:none'


= render partial: 'partial_modal_pinturas'

= render partial: 'partial_modal_cuadros'

