.vcenter
  .row
    .col-xs-12
      .container
        .row
          .col-xs-3.text-right.col_izquierda

            .row.row_nombre_usuario
              .col-xs-12
                %p.nombre_usuario#nombre_usuario_p
                %p.apellido_usuario#apellido_usuario_p
            .row.aux_relative
              .col-xs-12
            .row
              .col-xs-12
                = image_tag 'pantalla_2/adorno_izquierdo.png', class: 'img-responsive adorno_izquierdo'
            .row.row_texto
              .col-xs-12
                = image_tag 'pantalla_2/texto.png', class: 'img-responsive'
          .col-xs-6.text-center.col_medio

            .row
              .col-xs-12
                .portrait#canvas_video_div
                  #pintura_div{style: 'display:none;'}
                  .frame01#frame_div
                  .pic_frame
                    .ci-main-canvas
                      #canvas_container.ci-canvas-wrapper
                        = image_tag 'pantalla_2/aviso formato.png', class: 'img-responsive aviso', id: 'aviso_formato', style: 'display:none;'
                        = image_tag 'pantalla_2/aviso tamano.png', class: 'img-responsive aviso', id: 'aviso_tamano', style: 'display:none'
                        %video#video{:autoplay => "", :height => "360", :width => "360"}
                        %canvas#canvas.ui-widget-content{:height => "360", :style => "", :width => "360"}
                      #img_canvas_output.ci-canvas-wrapper{style:'display:none'}
                    #img_container
                .formulario#formulario_div{style: 'display:none'}
                  .row
                    .col-xs-12
                      %h4.title_formulario
                        PARA FINALIZAR INGRESA ESTOS DATOS
                  .row
                    .col-xs-11
                      = form_for :participante, url: registrar_participante_path,  html: {id: 'form_participante', class: 'form-horizontal'} do |f|
                        .form-group
                          = f.label :nombre, class: 'col-xs-4 control-label' do
                            Nombre:
                          .col-xs-8
                            = f.text_field :nombre, readonly: true, class: 'form-control'
                        .form-group
                          = f.label :fecha_nacimiento, class: 'col-xs-4 control-label' do
                            Fecha de Nacimiento:
                          .col-xs-8
                            /= f.date_select :fecha_nacimiento, start_year: 1930, end_year: Date.today.year, order: [:day, :month, :year],  prompt: { day: 'Día', month: 'Mes', year: 'Año' }, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], class: 'form-control'
                            = f.text_field :fecha_nacimiento, class: 'form-control'
                        .form-group
                          = f.label :region, class: 'col-xs-4 control-label' do
                            Región:
                          .col-xs-8
                            = collection_select :region, :region, Region.all, :region_id, :region_nombre, { include_blank: 'Selec. una Región'},
                              data: { dynamic_selectable_url: dynamic_select_provincias_path(':region_id'), dynamic_selectable_target: '#participante_provincia_id' }, class: 'form-control'
                        .form-group
                          = f.label :provincia, class: 'col-xs-4 control-label' do
                            Ciudad:
                          .col-xs-8
                            = f.select :provincia_id, options_from_collection_for_select(Provincia.all, :provincia_id, :provincia_nombre), {:include_blank => 'Selec. una Ciudad'}, class: 'form-control'
                        .form-group
                          = f.label :email, class: 'col-xs-4 control-label' do
                            Email:
                          .col-xs-8
                            = f.text_field :email, readonly: true,  class: 'form-control'
                        .form-group
                          .col-xs-6.col-xs-offset-4
                            %button#boton_enviar{type: "submit" }
                              = image_tag 'pantalla_4/enviar-on.png'
              .col-xs-12#html2canvas_col{style: 'display:none'}
                .portrait
                  #html2canvas_output

          .col-xs-3.text-center.col_derecha
            .row.row_subir_imagen#form_div
              .col-xs-12
                = form_for :upload, url: upload_img_path,  html: { multipart: true }, remote: true do | f |
                  .file_input_div
                    %label.label_file_input{for: 'file-input'}
                      = image_tag 'pantalla_2/subir_imagen.png', class: 'file-input-img subir_imagen'
                    = f.file_field :file_input, id: 'file-input', class: 'file_input'
            .row_cambiar_arte#cambiar_arte_div{style: 'display:none'}
              %button#cambiar_arte{"data-target" => ".bs-pinturas-modal-lg", "data-toggle" => "modal", :type => "button"}
                = image_tag 'pantalla_3/cambia_arte.png'
            .row.aux_relative
              .col-xs-12
            .row.row_adorno_derecho
              .col-xs-12
                = image_tag 'pantalla_2/adorno_derecho.png', class: 'adorno_derecho'
            .row_compartir#row_compartir{style: 'display:none'}
              %button#boton_compartir{style: 'display:none',"data-toggle" => "tooltip", "title" => "Compartir en Facebook"}
                = image_tag 'pantalla_3/compartir-on.png'
              %button#boton_compartir_off{disabled: 'disabled',"data-toggle" => "tooltip", "title" => "Debes seleccionar un arte para poder compartir"}
                = image_tag 'pantalla_3/compartir-off.png'
              %i.fa.fa-circle-o-notch.fa-2x.fa-spin#loading_facebook_share{style: 'display:none'}
            .row.row_encender_camara
              .col-xs-12
                %button#cambiar_marco{"data-target" => ".bs-cuadros-modal-lg", "data-toggle" => "modal", :type => "button", style: 'display:none'}
                  = image_tag 'pantalla_3/cambia_marco.png'
                %button#camara_on
                  = image_tag 'pantalla_2/encender_camara.png', class: 'img-responsive'
                %button#snap{style: 'display:none'} Tomar Foto
                %button#retake.sexyButton{:style => "display:none;"} Retomar


  = render partial: 'partial_modal_pinturas'

  = render partial: 'partial_modal_cuadros'

