
.row
  .col-xs-12
    .container
      .row
        .col-xs-3.text-right.col_izquierda
          .row.row_nombre_usuario
            .col-xs-12
              %p.nombre_usuario#nombre_usuario_p
              %p.apellido_usuario#apellido_usuario_p
          .row.aux_relative
            .col-xs-12
          .row
            .col-xs-12
              = image_tag 'pantalla_2/adorno_izquierdo.png', class: 'img-responsive adorno_izquierdo'
          .row.row_texto
            .col-xs-12
              = image_tag 'pantalla_2/texto.png', class: 'img-responsive'
        .col-xs-6.text-center.col_medio
          .row
            .col-xs-12
              .portrait#canvas_video_div
                #pintura_div{style: 'display:none;'}
                .frame01#frame_div
                .pic_frame
                  .ci-main-canvas
                    #canvas_container.ci-canvas-wrapper
                      %video#video{:autoplay => "", :height => "360", :width => "360"}
                      %canvas#canvas.ui-widget-content{:height => "360", :style => "", :width => "360"}
                    #img_canvas_output.ci-canvas-wrapper{style:'display:none'}
                  #img_container
                  #message
            .col-xs-12#html2canvas_col{style: 'display:none'}
              .portrait
                #html2canvas_output

        .col-xs-3.text-center.col_derecha
          .row.row_subir_imagen#form_div
            .col-xs-12
              = form_for :upload, url: upload_img_path,  html: { multipart: true }, remote: true do | f |
                .file_input_div
                  %label.label_file_input{for: 'file-input'}
                    = image_tag 'pantalla_2/subir_imagen.png', class: 'file-input-img subir_imagen'
                  = f.file_field :file_input, id: 'file-input', class: 'file_input'
          .row_cambiar_arte#cambiar_arte_div{style: 'display:none'}
            %button#cambiar_arte{"data-target" => ".bs-pinturas-modal-lg", "data-toggle" => "modal", :type => "button"}
              = image_tag 'pantalla_3/cambia_arte.png'
          .row.aux_relative
            .col-xs-12
          .row.row_adorno_derecho
            .col-xs-12
              = image_tag 'pantalla_2/adorno_derecho.png', class: 'adorno_derecho'
          .row_compartir#row_compartir{style: 'display:none'}
            %button#boton_compartir
              = image_tag 'pantalla_3/boton_compartir.png'
          .row.row_encender_camara
            .col-xs-12
              %button#cambiar_marco{"data-target" => ".bs-cuadros-modal-lg", "data-toggle" => "modal", :type => "button", style: 'display:none'}
                = image_tag 'pantalla_3/cambia_marco.png'
              %button#camara_on
                = image_tag 'pantalla_2/encender_camara.png', class: 'img-responsive'
              %button#snap{style: 'display:none'} Tomar Foto
              %button#retake.sexyButton{:style => "display:none;"} Retomar

= render partial: 'partial_modal_pinturas'

= render partial: 'partial_modal_cuadros'