#pantalla_intro
  .vcenter_galeria
    .row
      .col-xs-12
        .container
          .pantalla_1#pantalla_1
            .row.vector_smart_row#vector_smart_row
              .col-xs-12.text-center
                = image_tag 'pantalla_1/vector_smart.png', alt: 'Nos une la parrilla', class: 'img-responsive vector_smart'
            .row#frase_inicial_row
              .col-xs-12.text-center
                = image_tag 'pantalla_1/frase_inicial.png', class: 'img-responsive frase_inicial'

            .row#boton_facebook_row
              .col-xs-12.text-center
                %button.boton_facebook#boton_facebook
                  = image_tag 'pantalla_1/facebook_connect.png'
                %button.boton_facebook#boton_facebook_off{style: 'display:none', disabled: 'disabled'}
                  = image_tag 'pantalla_1/facebook_connect_off.png'
            .row#boton_facebook_loading{style: 'display:none'}
              .col-xs-12.text-center
                %i.fa.fa-circle-o-notch.fa-2x.fa-spin
            .row#adorno_btn_fb_row
              .col-xs-12.text-center
                = image_tag 'pantalla_1/adorno_btn_fb.png'