.row.m_row_bottom{style: 'display:none;'}
  .col-xs-3
    = link_to '/privacy.pdf' do
      = image_tag 'movil/pantalla_1/ver_bases_m.png', class: 'ver_bases_m'
  .col-xs-6
    = image_tag 'movil/pantalla_1/productos_parrilleros.png', class: 'img-responsive m_productos_parrilleros'
  .col-xs-3
    = link_to main_galeria_path do
      = image_tag 'movil/pantalla_1/ver_galeria_m.png', class: 'ver_galeria_m'