= image_tag 'pantalla_1/logo_bg.png', class: 'logo_bg img-responsive'
.vcenter_full#main_div
  .row
    .col-xs-12.col-lg-12.col-md-12
      .container
        .row.row_galeria_m{style: 'display:none'}
          .col-xs-12
            = link_to main_galeria_path do
              = image_tag 'movil/felicidades/visita_galeria_top.png', class: 'img-responsive m_visita_galeria'
        .row
          .col-xs-3
            .row.aux_relative
            .row.row_felicidades
              .col-xs-12
                = image_tag 'felicidades/texto_izquierda.png', class: 'img-responsive texto_izquierda'
                = image_tag 'felicidades/adorno_izquierdo_2.png', class: 'img-responsive img_adorno_izquierdo'
          .col-xs-6
            .row.row_galeria
              .col-xs-12
                .portrait
                  = link_to main_galeria_path do
                    = image_tag 'felicidades/visita_galeria.png', class: 'imagen_galeria'
                    = image_tag "/#{@id}/#{@img}.png", class: 'imagen_user'
          .col-xs-3
            .row.row_texto_participando
              .col-xs-12
                .row.aux_relative
                = image_tag 'felicidades/adorno_derecho_2.png', class: 'img-responsive img_adorno_derecho'
                = image_tag 'felicidades/texto_derecha.png', class: 'img-responsive texto_derecha'

.row
  .col-xs-12
    = image_tag 'felicidades/felicidades.png', class: 'navigation felicidades_img', id: 'navigation_1'
    = image_tag 'movil/felicidades/felicidades_m.png', class: 'm_felicidades', id: 'm_felicidades', style: 'display:none'
    = image_tag 'movil/felicidades/texto_m.png', class: 'texto_m', id: 'texto_m', style: 'display:none'
.row.row_bottom#row_bottom
  .col-xs-3.text-center
    = link_to 'bases' do
      = image_tag 'pantalla_2/ver_bases.png', class: 'ver_bases'
  .col-xs-6.text-center
    %button#productos_parrilleros{"data-target" => ".bs-parrilleros-modal-lg", "data-toggle" => "modal", :type => "button"}
      = image_tag 'pantalla_2/productos_parrilleros.png', class: 'img-responsive ver_productos_parrilleros'
  .col-xs-3.text-center
    = link_to main_galeria_path do
      = image_tag 'pantalla_2/ver_galeria.png', class: 'ver_bases'

= render partial: 'row_bottom'


