.galeria
  = link_to root_url do
    = image_tag 'pantalla_1/logo_bg.png', class: 'logo_bg img-responsive'
  .vcenter_galeria
    .container.container_galeria
      .row
        .col-xs-12
          .pagespan
      .row
        .col-xs-12
          .wrap
            .pagespan
              .scrollbar
                .handle
              .boton_anterior_div
                %button.boton_anterior.prev
                  = image_tag 'galeria/ver_anterior.png', class: 'ver_anterior'
              .frame#frame
                %ul.slidee
                  - index = 0
                  - i = 0
                  - puts(@img)
                  - while index < @img.length - 1
                    - if (i % 2) == 0
                      %li
                        = link_to "/#{@img[index][:id]}/#{@img[index][:img]}.png", "data-lightbox" => "galeria", "data-title"=>"Nos une la Parrilla" do
                          = image_tag "/#{@img[index][:id]}/#{@img[index][:img]}.png", class: 'galeria_pic' rescue ''
                    - else
                      %li.li_left
                        = link_to "/#{@img[index][:id]}/#{@img[index][:img]}.png", "data-lightbox" => "galeria", "data-title"=>"Nos une la Parrilla" do
                          = image_tag "/#{@img[index][:id]}/#{@img[index][:img]}.png", class: 'galeria_pic_half_top'
                        = link_to "/#{@img[index + 1][:id]}/#{@img[index + 1][:img]}.png", "data-lightbox" => "galeria", "data-title"=>"Nos une la Parrilla" do
                          = image_tag "/#{@img[index + 1][:id]}/#{@img[index + 1][:img]}.png", class: 'galeria_pic_half_bottom'
                        - index+=1
                    - index += 1
                    - i+= 1
              .boton_siguiente_div
                %button.boton_siguiente.next
                  = image_tag 'galeria/ver_siguiente.png', class: 'ver_siguiente'
      .row
        .col-xs-12
          .pagespan
            = image_tag 'galeria/adorno_galeria.png', class: 'img-responsive adorno_galeria'
            = image_tag 'movil/galeria/galeria_1810.png', class: 'img-responsive galeria_1810', style: 'display:none'
.row.m_row_bottom{style: 'display:none;'}
  .col-xs-12
    = image_tag 'movil/pantalla_1/productos_parrilleros.png', class: 'm_productos_parrilleros'